.profile__avatar {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  color: var(--main-color);
}

@media screen and (max-width: 767px) {
  .profile__avatar {
    width: calc(120px + (273 - 120)*((100vw - 320px)/(728 - 320)));
    height: calc(120px + (273 - 120)*((100vw - 320px)/(728 - 320)));
    margin-right: 0;
    margin-bottom: 26px;
  }
}
